:root {
    --cto-color: #5BAF80;
    /**Call to Action**/
    --lightgray-color: #f2f2f2;
    /**Light gray bg**/
}

body {
    font-family: 'Karla', sans-serif;
    /**Main font family**/
    margin: 0;
}

section {
    margin: 1em;
    padding-bottom: 3em;
}

.cta-main {
    display: inline-block;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: black;
    background: white;
    text-decoration: none;
}

/**Links**/

a {
    font-weight: 800;
    text-decoration: none;
    color: var(--cto-color);
}


/*Override NAV module properties*/
.nav_module a{
    color:black !important;
}


.nav_module .dropdown .fa {
    color:black !important;
  
}

/***FOOTER****/

footer {
    background: #202020;
}

.footer-container {
    display: grid;
    padding: 5em;
    grid-template-columns: 1fr 1fr;
}

.footer-div h1 {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 2em;
    color: white;
    font-weight: normal;
    margin: 0 !important;
}

.footer-div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-div h3 {
    color: white;
    width: 80%;
    font-weight: 300;
    font-size: 0.90em;
}

@media screen and (max-width:600px) {
    .footer-container {
        padding: 3em;
    }
}

input[type=email] {
    padding: 12px 30px;
    width: 30%;
    border: none;
    color: #ACACAC;
    background-color: #3D3D3D;
}

.submission {
    background-color: #B9B9B9;
    border: none;
    color: #202020;
    width: 20%;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.footer-links {
    font-size: 0.83em;
    padding-left: 2em;
}

@media screen and (max-width:520px) {
    .footer-container {
        grid-template-columns: 1fr;
        row-gap: 1em;
    }
    .footer-links {
        padding-left: 0;
    }
}

.footer-links a {
    color: white;
    padding-bottom: 0.5em;
    font-weight: normal;
    display: block;
}

.footer-links title {
    text-transform: uppercase;
    color: #575757;
    padding-bottom: 1em;
    display: block;
    font-weight: bold;
}

.footer-links a:hover {
    color: var(--cto-color);
}

.intro {
    text-align: center;
    padding: 5% 20% 3% 20%;
    /*top, right, bottom, left https://www.w3.org/Style/Examples/007/center.en.html*/
}

/** Sets **/

/************* SETS GRID *************/

/* Wrapper class for sets, 2 rows default on desktop */

.abset_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
    grid-gap: 1em;
    padding-top: 5em;
    padding: 2% 2%;
    line-height: 1.5em;
}

/* Media Query for sets */

.abset_text2, .abset_text1 {
    width: 30vw;
    padding-left: 2em;
    padding-top: 5em;
}

@media screen and (max-width:1000px) {
    .abset_text2, .abset_text1 {
        padding-left: 2em;
        padding-top: 3em;
    }
}

@media screen and (max-width:800px) {
    .intro {
        text-align: center;
        padding: 10% 10% 10% 10%;
    }
    .abset_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        /* Shrink to 1 column */
        grid-template-rows: auto;
    }
    .abset_text2 {
        padding-left: 0em;
        padding-top: 1em;
        grid-row-start: 4;
        width: 100%;
        padding-bottom: 1em;
    }
    .abset_text1 {
        padding-left: 0em;
        padding-top: 0em;
        padding-bottom: 1em;
        width: 100%;
    }
    .abset_img2 {
        padding-left: 0em;
        padding-top: 0em;
        width: 100%;
        grid-row-start: 3;
    }
}

h1 {
    font-size: 2em;
    font-weight: 300;
}

h3 {
    font-size: 1em;
    font-weight: 300;
}

.wrapper_img {
    width: 100%;
    height: auto;
    object-fit: cover;
}