:root {
    --cto-color: #5BAF80;
    /**Call to Action**/
    --lightgray-color: #f2f2f2;
    /**Light gray bg**/
}

body {
    font-family: 'Karla', sans-serif; /**Main font family**/
    margin:0;
}

section{
    margin:1em;
    padding-bottom:3em;
}

.cta-main {
    display:inline-block;
    padding-top:0.3rem;
    padding-bottom:0.3rem;
    padding-left:3rem;
    padding-right:3rem;
    color:black;
    background:white;
    text-decoration:none;

}


/**Links**/

a {
    font-weight: 800;
    text-decoration: none;
    color: var(--cto-color);
}

/*************NAV BAR*************/

/*Tutorial: https://www.w3schools.com/howto/howto_js_topnav.asp*/

/* Brand title */

.nav_module .title {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 2em;
    text-transform: lowercase;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Main nav container */
.nav_module {
    padding: 20px 30px 25px 30px;
    overflow: hidden;
    position: relative;
    
}

/* Nav Links */
.nav_module a {
    float: left;
    text-align: center;
    color:black;
    padding-right: 20px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.8em;
}

/* Nav Hover effect */
.nav_module a:hover {
    color: gray;
}

/* Float nav links to the right */

.right_float {
    float: right;
}

/* Font Awesome Hamburger Icon */

.nav_module .icon {
    display: none;
}

/* Media Query for Nav Module */

@media screen and (max-width: 1000px) {
    .nav_module a:not(.title) {
        opacity: 0;
    }
    /* Hamburger Icon Visible */
    .nav_module a.icon {
        opacity: 1;
        right: 0;
        font-size: 1.5em;
        position: absolute;
        margin-top: -0.2em;
        display: block;
    }
    /* Links collapse down */
    .nav_module.responsive {
        position: relative;
        padding-top: 2em;
        padding-bottom: 0.5em;
    }
    /* Make Mobile ver links Visible */
    .nav_module.responsive a {
        opacity: 1;
    }
    /* Align right floating links to the left */
    .nav_module.responsive .right_float {
        float: left;
    }
    /* Hide Title */
    .nav_module.responsive .title {
        display: none;
    }
    /* Make active link bold */
    .nav_module.responsive .active {
        font-weight: 900;
    }
    /* Adjust hamburger icon placement */
    .nav_module.responsive .icon {
        position: absolute;
        margin-top: -7.3em;
    }
    /* Links for mobile nav composition */
    .nav_module.responsive a {
        float: none;
        padding-bottom: 2em;
        display: block;
        text-align: left;
    }
    /* Title for mobile */
    .nav_module .title {
        font-family: 'Sorts Mill Goudy', serif;
        font-size: 2em;
        text-transform: lowercase;
        float: right;
        margin-right: 0;
        position: absolute;
    }
}

/***FOOTER****/

footer {
    background:#202020;
    width:100%;
}

.footer-container {
    display:grid;
    padding:5em;
    grid-template-columns: 1fr 1fr;
}

.footer-div h1{
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 2em;
    color:white;
    font-weight:normal;
    margin:0 !important;
}

.footer-div:nth-child(2){
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}

.footer-div h3{
    color:white;
    width:80%;
    font-weight:300;
    font-size:0.90em;
}

@media screen and (max-width:600px){
    .footer-div h3{
        width:100%;
    }

    .footer-container{
        padding:3em;
    }
}

input[type=email] {
    padding: 12px 30px;
    width: 30%;
    border: none;
    color:#ACACAC;
    background-color:#3D3D3D;
}


.article_img {

padding-top: 2em;
width: 98%;
display: block;
 margin-left: auto;
  margin-right: auto;

}

h5 {

padding-top: 2em;
    padding-left:20px;
    font-weight: normal;



}


h6{

margin-top: 0px;
margin-bottom: 20px;
padding-top: 0px;
padding-left: 20px;
font-size: 2.8em;



}



h4 {
margin-bottom: 60px;



}

.article_author {
margin-bottom: 80px;
text-align: left;


}


.sayl_img {

}

.viewButton {

padding-top: 12px;
padding-bottom: 12px;
padding-left: 55px;
padding-right: 55px;

 background-color: #6EB78E;
font-weight: lighter;
color: white;


}



.article_product {

display: grid;
        grid-template-columns: 1fr 1fr;

margin-left: 20px;
padding: 40px;
width: 30%;
    background:var(--lightgray-color);


}


.author_txt {

padding-top: 1px;
font-weight: bold;

}


.author_img {

float:left;
margin-right: 20px;
padding-left: 20px;

}


.article_text {

padding-top: 0px;
padding-left: 20px;
  line-height: 200%;

width: 50%;

}



.article_text2 {

padding-top: 0px;
padding-left: 20px;
  line-height: 200%;

width: 50%;

margin-bottom: 200px;

}

.submission {
    background-color:#B9B9B9;
    border: none;
    color: #202020;
    width:20%;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.footer-links {
    font-size:0.83em;
    padding-left:2em;
}


@media screen and (max-width:520px){
    .footer-container{
     grid-template-columns:1fr;
     row-gap: 1em;
    }

    .footer-links {
        padding-left:0;
    }
}

.footer-links a{
    color:white;
    padding-bottom:0.5em;
    font-weight:normal;
    display:block;
}

.footer-links title {
    text-transform:uppercase;
    color:#575757;
    padding-bottom:1em;
    display:block;
    font-weight:bold;
}
.footer-links a:hover {
    color:var(--cto-color);
}
