
/**Color Variables**/
:root {
    --cto-color: #5BAF80;
    /**Call to Action**/
    --lightgray-color: #f2f2f2;
    /**Light gray bg**/
}

body {
    font-family: 'Karla', sans-serif; /**Main font family**/
    margin:0;
}

section{
    margin:1em;
    padding-bottom:3em;
}


/************* CATEGORY GRID *************/

/* Wrapper for product category, 4 columns default for desktop */

.category_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap:6em;
    padding-bottom:3em;
    column-gap:1em;
}

.category_wrapper a {
    color:black;
    font-weight:normal;
}

.category_wrapper a:hover img{
    filter: brightness(80%);
}


/* Start-end column for each image */

.cl1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.cl2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.cl3 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.cl4 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.cl5 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.cl6 {
    grid-column-start: 4;
    grid-column-end: 5;
}

.cl7 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.cl8 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.cl9 {
    grid-column-start: 4;
    grid-column-end: 5;
}


/* Media Query for Category Grid Mobile */

@media screen and (max-width:800px) {
    .category_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        row-gap: 6em;
        column-gap: 1em;
    }
    /* New start-end column values for mobile */
    .cl1, .cl5, .cl7 {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .cl2, .cl6 {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .cl3, .cl4, .cl8 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .cl9 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }
}

/* Image class for category images */

.chairlisting_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.nonbold {
    font-weight: normal;
}

#citations_body li {
    padding-bottom: 1em;
}

/* Product Name and Price */

.listing_description {
    margin-top: 1em;
    position: absolute;
}


/** Sets **/

/************* SETS GRID *************/

/* Wrapper class for sets, 6 rows default on desktop */

.set_wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1em;
    grid-gap: 1em;
    padding-top: 5em;
}
.padding-top{
    margin-top:60vh;
}



h3 {
    font-weight:400 !important;
}
/* Media Query for sets */

@media screen and (max-width:800px) {
    .padding-top {
        margin-top:45vh;
    }
    .set_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        /* Shrink to 1 column */
        grid-template-rows: auto;
    }
    /* Change grid and row start-end values for mobile */
    .set_wrapper .set_img1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .set_wrapper .set_text1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        padding-top: 0;
    }
    .set_wrapper .set_img2 {
        padding-top: 2em;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .set_wrapper .set_text2 {
        text-align: left;
        padding-top: 0;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

.set_wrapper h3 {
    font-size: 1em;
    font-weight: normal;
}

.set_wrapper h2 {
    margin: 0;
}

.set_img1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.wrapper_img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.set_text1 {
    padding-top: 4em;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

.set_img2 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.set_text2 {
    text-align: right;
    padding-top: 4em;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}


/** HERO IMAGE**/

.hero{
    margin-bottom:1rem;
    position: relative;
}

.hero-image {
    width:100%;
    height:40em;
    background:#616161;
    position:absolute;
    margin:0;
}

.hero-text{
    color:black;
    z-index:99999999999999999999;
    padding-left:10vw;
    position:absolute;
    margin-top:-20em;
}



.hero-text h4{
    font-weight:200;
    line-height:130%;
}

.hero-text h2{
    color:white;
}

.cta-main {
    display:inline-block;
    padding-top:0.3rem;
    padding-bottom:0.3rem;
    padding-left:3rem;
    padding-right:3rem;
    color:black;
    background:white;
    text-decoration:none;

}

.intro {
    color:black;
    background: red;
}
/** Stories Wrapper **/

.stories_wrapper {
    margin-top:5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
}


.article_img {
    width: 100%;
    object-fit: cover;
}

/***Four Column Grid****/

.four_column_wrapper {
    margin-top:20em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
}

@media screen and (max-width:800px) {
    /* Shrink stories wrapper into 2 columns */
    .four_column_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 6em;
    }
}


/* Image class for stories */

.stories_img {
    width: 100%;
    height: 35em;
    object-fit: cover;
}

.listing_description {
    margin-top: 1em;
    position: absolute;
}

.stories h4{
    font-weight:normal;
}

/**Links**/

a {
    font-weight: 800;
    text-decoration: none;
    color: var(--cto-color);
}

/*************NAV BAR*************/

/*Tutorial: https://www.w3schools.com/howto/howto_js_topnav.asp*/

/* Brand title */

.nav_module .title {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 2em;
    text-transform: lowercase;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Main nav container */
.nav_module {
    padding: 20px 30px 25px 30px;
    overflow: hidden;
    position: relative;
    
}

/* Nav Links */
.nav_module a {
    float: left;
    text-align: center;
    color:black !important;
    padding-right: 20px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.8em;
}

/* Nav Hover effect */
.nav_module a:hover {
    color: gray;
}

/* Float nav links to the right */

.right_float {
    float: right;
}

/* Font Awesome Hamburger Icon */

.nav_module .icon {
    display: none;
}

/* Media Query for Nav Module */

@media screen and (max-width: 1000px) {
    .nav_module a:not(.title) {
        opacity: 0;
    }
    /* Hamburger Icon Visible */
    .nav_module a.icon {
        opacity: 1;
        right: 0;
        font-size: 1.5em;
        position: absolute;
        margin-top: -0.2em;
        display: block;
    }
    /* Links collapse down */
    .nav_module.responsive {
        position: relative;
        padding-top: 2em;
        padding-bottom: 0.5em;
    }
    /* Make Mobile ver links Visible */
    .nav_module.responsive a {
        opacity: 1;
    }
    /* Align right floating links to the left */
    .nav_module.responsive .right_float {
        float: left;
    }
    /* Hide Title */
    .nav_module.responsive .title {
        display: none;
    }
    /* Make active link bold */
    .nav_module.responsive .active {
        font-weight: 900;
    }
    /* Adjust hamburger icon placement */
    .nav_module.responsive .icon {
        position: absolute;
        margin-top: -7.3em;
    }
    /* Links for mobile nav composition */
    .nav_module.responsive a {
        float: none;
        padding-bottom: 2em;
        display: block;
        text-align: left;
    }
    /* Title for mobile */
    .nav_module .title {
        font-family: 'Sorts Mill Goudy', serif;
        font-size: 2em;
        text-transform: lowercase;
        float: right;
        margin-right: 0;
        position: absolute;
    }
}

/***FOOTER****/

footer {
    background:#202020;
    width:100%;
}

.footer-container {
    display:grid;
    padding:5em;
    grid-template-columns: 1fr 1fr;
}

.footer-div h1{
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 2em;
    color:white;
    font-weight:normal;
    margin:0 !important;
}

.footer-div:nth-child(2){
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}

.footer-div h3{
    color:white;
    width:80%;
    font-weight:300;
    font-size:0.90em;
}

@media screen and (max-width:600px){
    .footer-div h3{
        width:100%;
    }

    .footer-container{
        padding:3em;
    }
}

input[type=email] {
    padding: 12px 30px;
    width: 30%;
    border: none;
    color:#ACACAC;
    background-color:#3D3D3D;
}

.form h3 {
    padding-top:1em;
    text-transform: uppercase;
}

.submission {
    background-color:#B9B9B9;
    border: none;
    color: #202020;
    width:20%;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.footer-links {
    font-size:0.83em;
    padding-left:2em;
}


@media screen and (max-width:520px){
    .footer-container{
     grid-template-columns:1fr;
     row-gap: 1em;
    }

    .footer-links {
        padding-left:0;
    }
}

.footer-links a{
    color:white;
    padding-bottom:0.5em;
    font-weight:normal;
    display:block;
}

.footer-links title {
    text-transform:uppercase;
    color:#575757;
    padding-bottom:1em;
    display:block;
    font-weight:bold;
}
.footer-links a:hover {
    color:var(--cto-color);
}