/**Color Variables**/
:root {
    --cto-color: #5BAF80;
    /**Call to Action**/
    --lightgray-color: #f2f2f2;
    /**Light gray bg**/
}

body {
    font-family: 'Karla', sans-serif; /**Main font family**/
    margin:0;
}

section{
    /* margin:1em; */
    padding-bottom:3em;
}

.cta-main {
    display:inline-block;
    padding-top:0.3rem;
    padding-bottom:0.3rem;
    padding-left:3rem;
    padding-right:3rem;
    color:black;
    background:white;
    text-decoration:none;

}


/*Override NAV module properties*/

.nav_module a {
    color: black !important;
}

.nav_module .dropdown .fa {
    color: black !important;
}

.nav_module .dropdown-content {
    background: rgba(255, 255, 255, 0.678);
}



/**Links**/

a {
    font-weight: 800;
    text-decoration: none;
    color: var(--cto-color);
}

/***FOOTER****/

footer {
    background:#202020;
    width:100%;
}

.footer-container {
    display:grid;
    padding:5em;
    grid-template-columns: 1fr 1fr;
}

.footer-div h1{
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 2em;
    color:white;
    font-weight:normal;
    margin:0 !important;
}

.footer-div:nth-child(2){
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}

.footer-div h3{
    color:white;
    width:80%;
    font-weight:300;
    font-size:0.90em;
}

@media screen and (max-width:600px){
    .footer-div h3{
        width:100%;
    }

    .footer-container{
        padding:3em;
    }
}

input[type=email] {
    padding: 12px 30px;
    width: 30%;
    border: none;
    color:#ACACAC;
    background-color:#3D3D3D;
}


.submission {
    background-color:#B9B9B9;
    border: none;
    color: #202020;
    width:20%;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.footer-links {
    font-size:0.83em;
    padding-left:2em;
}


@media screen and (max-width:520px){
    .footer-container{
     grid-template-columns:1fr;
     row-gap: 1em;
    }

    .footer-links {
        padding-left:0;
    }
}

.footer-links a{
    color:white;
    padding-bottom:0.5em;
    font-weight:normal;
    display:block;
}

.footer-links title {
    text-transform:uppercase;
    color:#575757;
    padding-bottom:1em;
    display:block;
    font-weight:bold;
}
.footer-links a:hover {
    color:var(--cto-color);
}

/***Contact Module****/
.contact-container { 
    /* margin:1em; */
    margin-top: 6em;
    /* padding-right: 4em; */
    margin-bottom: 0em;
    display:grid;
    grid-template-columns: 1fr 1fr;
    font-size:0.8em;
}


@media screen and (max-width:800px){
    .contact-container {
        grid-template-columns:1fr;
    }
}

/***Contact Module Text****/


.contactinfo-container{
    text-transform:none;
    font-weight:100;
    background:var(--lightgray-color);
padding: 2em;
padding-left: 5em;



}

h1 {
    font-size:2em;
    font-weight:500;
   
}



h2 {
    font-size:3em;
    font-weight:500;
    padding-bottom: 1em;
}


.contact-container-div:nth-child(1) {
    display:grid;
    grid-template-columns:1fr 1fr;
}

.contact-container h3 {
    font-size:1em;
    font-weight:600;

    margin:0;
    padding-bottom:1em;
padding-top: 1em;
}


.contact-container h5 {
    font-size:1.5em;
    font-weight:400;
    margin:0;
    padding-bottom:2em;
}



.contact-container h4 {
    font-size:1.2em;
    font-weight:500;

    margin:0;
    padding-bottom:1.5em;
}

/***Contact Headings****/


.bigform, .contact-header {
    grid-column-start: 1;
    grid-column-end:3;
}


.bigform {

padding-top: .5em;
}


/***Input Forms****/


input[type=name] {
    padding-top:12px;
    padding-bottom:12px;
    border: none;
    width:100%;
    background-color: var(--lightgray-color);
}


input[type=name1] {
    padding-top:12px;
    padding-bottom:12px;
    border: none;
    width:100%;
    height: 150px;
    background-color: var(--lightgray-color);
}



.clear {
    background-color:none;
    border: none;
    color: #202020;
    width:15%;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.send {
    background-color:var(--cto-color);;
    border: none;
    color: white;
    width:15%;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.contact-container-div .form{
    width:95%;
}

.contact-container-div .form2{
    width:100%;
}

.contact-container-div .bigform{
    width:100%;
}

.contact-container-div:nth-child(2){
    margin-top:1em;
}

/*** Send and Clear Buttons****/

.buttons {

padding-top: 2em;
    text-align: right;
    width:91%;


}
@

