/************* ERROR CONTAINER *************/

.error-container {
    padding:8em 3em 8em 3em; /* top, right, bottom, and left*/
    margin:6em 3em 6em 3em;
    text-align:center;
    background: #f2f2f2;
}

/*Override NAV module properties*/

.nav_module a {
    color: black !important;
}

.nav_module .dropdown .fa {
    color: black !important;
}

.nav_module .dropdown-content {
    background: rgba(255, 255, 255, 0.678);
}