
/**Color Variables**/
:root {
    --cto-color: #5BAF80;
    /**Call to Action**/
    --lightgray-color: #f2f2f2;
    /**Light gray bg**/
}

body {
    font-family: 'Karla', sans-serif;
    /**Main font family**/
    margin: 50px 50px 50px 50px;
}


/** Sets **/

/************* SETS GRID *************/

/* Wrapper class for sets, 6 rows default on desktop */

.set_wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1em;
    grid-gap: 1em;
    padding-top: 5em;
}

/* Media Query for sets */

@media screen and (max-width:800px) {
    .set_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        /* Shrink to 1 column */
        grid-template-rows: auto;
    }
    /* Change grid and row start-end values for mobile */
    .set_wrapper .set_img1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .set_wrapper .set_text1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        padding-top: 0;
    }
    .set_wrapper .set_img2 {
        padding-top: 2em;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .set_wrapper .set_text2 {
        text-align: left;
        padding-top: 0;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

.set_wrapper h3 {
    font-size: 1em;
    font-weight: normal;
}

.set_wrapper h2 {
    margin: 0;
}

.set_img1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.wrapper_img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.set_text1 {
    padding-top: 4em;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

.set_img2 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.set_text2 {
    text-align: right;
    padding-top: 4em;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}


/** HERO IMAGE**/

section.hero{
    margin-bottom:1rem;
    position: relative;
}

.hero-image {
    width:100%;
    height:40em;
    background:#616161;
    position:absolute;
    margin:0;
}

.hero-text{
    color:white;
    width:60%;
    max-width:100rem;
    margin-left:2rem;
    margin-right:2rem;
    padding:.5rem;

    position: absolute;
    bottom: 2rem;
    padding: 5rem;
}

.hero-text a{
    position: absolute;

}

.hero-text h2{
    color:white;
}

.cta-main {
    display:inline-block;
    padding-top:0.3rem;
    padding-bottom:0.3rem;
    padding-left:3rem;
    padding-right:3rem;
    color:black;
    background:white;
    text-decoration:none;

}

.intro {
    color:black;
    background: red;
}
/** Stories Wrapper **/

.stories_wrapper {
    margin-top:5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
}

/***Four Column Grid****/

.four_column_wrapper {
    margin-top:40em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
}

@media screen and (max-width:800px) {
    /* Shrink stories wrapper into 2 columns */
    .four_column_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 6em;
    }
}

.stories_img {
    width: 100%;
    height: auto;
    object-fit:cover;
    
}

/* Image class for stories */

.stories_img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.listing_description {
    margin-top: 1em;
    position: absolute;
}

/**Links**/

a {
    font-weight: 800;
    text-decoration: none;
    color: var(--cto-color);
}

/*************NAV BAR*************/

/*Tutorial: https://www.w3schools.com/howto/howto_js_topnav.asp*/

/* Brand title */

.nav_module .title {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 2em;
    text-transform: lowercase;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Main nav container */
.nav_module {
    padding: 20px 30px 25px 30px;
    overflow: hidden;
    position: relative;
    
}

/* Nav Links */
.nav_module a {
    float: left;
    text-align: center;
    color:#eeeeee;
    padding-right: 20px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.8em;
}

/* Nav Hover effect */
.nav_module a:hover {
    color: gray;
}

/* Float nav links to the right */

.right_float {
    float: right;
}

/* Font Awesome Hamburger Icon */

.nav_module .icon {
    display: none;
}

/* Media Query for Nav Module */

@media screen and (max-width: 1000px) {
    .nav_module a:not(.title) {
        opacity: 0;
    }
    /* Hamburger Icon Visible */
    .nav_module a.icon {
        opacity: 1;
        right: 0;
        font-size: 1.5em;
        position: absolute;
        margin-top: -0.2em;
        display: block;
    }
    /* Links collapse down */
    .nav_module.responsive {
        position: relative;
        padding-top: 2em;
        padding-bottom: 0.5em;
    }
    /* Make Mobile ver links Visible */
    .nav_module.responsive a {
        opacity: 1;
    }
    /* Align right floating links to the left */
    .nav_module.responsive .right_float {
        float: left;
    }
    /* Hide Title */
    .nav_module.responsive .title {
        display: none;
    }
    /* Make active link bold */
    .nav_module.responsive .active {
        font-weight: 900;
    }
    /* Adjust hamburger icon placement */
    .nav_module.responsive .icon {
        position: absolute;
        margin-top: -7.3em;
    }
    /* Links for mobile nav composition */
    .nav_module.responsive a {
        float: none;
        padding-bottom: 2em;
        display: block;
        text-align: left;
    }
    /* Title for mobile */
    .nav_module .title {
        font-family: 'Sorts Mill Goudy', serif;
        font-size: 2em;
        text-transform: lowercase;
        float: right;
        margin-right: 0;
        position: absolute;
    }
}
