
:root {
    --cto-color: #5BAF80;
    --lightgray-color: #f2f2f2;
  }

body {
    font-family: 'Karla', sans-serif;
    margin:50px 50px 50px 50px;
}

a {
    font-weight:800;
    text-decoration: none;
    color:var(--cto-color);
}

code {
    background:var(--lightgray-color);
    padding:10px 10px 10px 10px;
    
}


.button {
  background-color: #6EB78E;
  border: none;
  color: white;
  font:inherit;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  margin: 4px 2px;
  cursor: pointer;
}

.button2{
background-color: none;
  border: none;
  color: #B0B0B0;
  font:inherit;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  margin: 8px 2px;
  cursor: pointer;

}



.button3{
    background-color: #F6F6F6;
    border: none;
    color: black;
    font:inherit;
    font-weight:bold;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 4px 2px;
}

    
.form {
padding: 12px 36px;
    font-family: 'Karla', sans-serif;
  box-sizing: border-box;

}

.btn {
   
    background: #B9B9B9;
    padding: 12px 36px;
    margin-left: 10px;
    font: inherit;
    border-style: none;
   
}

#anchor_links li {
    padding-bottom:20px;
}

li {
    padding-bottom:50px;
}

.nav_module {
    background:var(--lightgray-color);
    padding:20px 30px 25px 30px;
    overflow:hidden;
    position:relative;
}

.nav_module a{
    float:left;
    text-align:center;
    color:black;
    padding-right:20px;
    font-weight:normal;
    text-transform: uppercase;
    font-size:0.8em;
}

.right_float{
    float:right;
}

li .swatches {
    padding-bottom:40px;
}


.nav_module .title {
    font-family: 'Sorts Mill Goudy', serif;
    font-size:2em;
    text-transform:lowercase;
    float:none;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
}

.product_module {
    display:inline-block;
    width:820px;
}

.product_img img{
    width:400px;
    float:left;
}

.sample_img {
    display:inline;

}

.sample_img img{
    width:50px;
    padding-top:20px;
    padding-right:10px;
}
.product_module .desc {
    padding-top:100px;
    float:right;
    width:400px;
    margin-left:20px;

}

.product_module h5 {
    font-weight:normal;
    
}

.desc h2, h4, h5 {
    margin-top:-5px;
}

.order_summary {
    width:500px;
    background:var(--lightgray-color);
}

.order_summary h5 {
    font-weight:normal;
}

.cart_container{
    padding:40px 0px 30px 50px;
}

.cart_item {
    display:inline;
    padding-right:20px;
    padding-left:20px;
}

.cart_item_desc {
    margin-left:60px;
    margin-top:5px;
  
}

.cart_item_desc h5 {
    font-weight:normal;
    margin-top:-15px;
}

.cart_item img{
    float:left;
    width:50px;
}
